<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frfefreiefdrrefdre.jfrdofrdkfrefrr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/vrfvjhbhefrjvbjf"
        android:label="@string/vftgr_vgfrRB_gN_uym_iukM_MJUMk_SwdcEW_cd_sd"
        android:roundIcon="@drawable/vrfvjhbhefrjvbjf"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/bgrb_Gbtgrb_gtybTY_bnT_Yn_YTn_YTHn" />

        <activity
            android:name="com.frfefreiefdrrefdre.jfrdofrdkfrefrr.rvfendkjvbnkjefrnvkjfrednkvjrntkbvnkrtjnbtgr.vfdnkvbjnfdkjvnbkfvndkjvkrvjendkvjenkvfcnerv.mdxscadcidxcxn.FvfjgvngrfvGhmyknhyju"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/GTVRGRTGYHNHjmjkmjny.TYHNJMUbfdbf" />
        <activity
            android:name="com.frfefreiefdrrefdre.jfrdofrdkfrefrr.rvfendkjvbnkjefrnvkjfrednkvjrntkbvnkrtjnbtgr.vfdnkvbjnfdkjvnbkfvndkjvkrvjendkvjenkvfcnerv.mdxscadcidxcxn.FgnbgjbGgfhtfjhvgtrFtgjrngbkgrtjbr"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/VTVGGBBG.grtHYtnhtyNYV.RTBBGTNHYdcs" />
        <activity
            android:name=".bgfkjmrktlfnvblkjernfkvjnrekjfvbhkrjfbvkjrfnked.gfblrntkjbnkvrtnbkjrtnfkbvjnerkjfvnerkjlnvclkerlds.GBtbmgtmblBGYtbjktgb"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/GTVRGRTGYHNHjmjkmjny.TYHNJMUbfdbf">
        </activity>
        <activity
            android:name=".bgfkjmrktlfnvblkjernfkvjnrekjfvbhkrjfbvkjrfnked.gfblrntkjbnkvrtnbkjrtnfkbvjnerkjfvnerkjlnvclkerlds.TGktjbhktyhbYThytgvbt"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/GTVRGRTGYHNHjmjkmjny.TYHNJMUbfdbf">
        </activity>
        <activity
            android:name="com.frfefreiefdrrefdre.jfrdofrdkfrefrr.rvfendkjvbnkjefrnvkjfrednkvjrntkbvnkrtjnbtgr.vfdnkvbjnfdkjvnbkfvndkjvkrvjendkvjenkvfcnerv.sswxdpsxdlasxdsxsdch.HfnnrvhjrfjFfvjrvjkgrfv"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/GTVRGRTGYHNHjmjkmjny.TGtvrjkvmlrf">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>