<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hythluynlhkjbkflvf.rpogportbpgoglkbm">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/rnvgkjrnkjvgfrntk_gvnftrkjvgjkftr_tgfrnbj"
        android:label="@string/fkrjnjvkjdvjfkrv_vrfbhjvrgfhbvjkr_bvgtrbvkgrtjvnbkjgrt"
        android:roundIcon="@drawable/rnvgkjrnkjvgfrntk_gvnftrkjvgjkftr_tgfrnbj"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fjvbfkdjgvbkjgf_bgfrtvbrtfnvjrtf_trhgviturghbut" />
        <activity
            android:name="com.hythluynlhkjbkflvf.rpogportbpgoglkbm.fnrjfnrjnflkr.fvnklfvlmrtklbvtr.gnktjnvktnjbrkjbv.vbnkgrtnglr.HfnnrvhjrfjFfvjrvjkgrfv"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/BHTNBhynyjhumn.thyTJUYjtokfnoiyf">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hythluynlhkjbkflvf.rpogportbpgoglkbm.fnrjfnrjnflkr.fvnklfvlmrtklbvtr.vktfltmrblktr.cvnlkf.FvfjgvngrfvGhmyknhyju"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/NythnmbylkthbnhYnyhun.gTRHytfewrgt" />
        <activity
            android:name="com.hythluynlhkjbkflvf.rpogportbpgoglkbm.fnrjfnrjnflkr.fvnklfvlmrtklbvtr.vktfltmrblktr.vnkfk.FgnbgjbGgfhtfjhvgtrFtgjrngbkgrtjbr"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/kvmkgfrjmtblkgtbHNTnkytghb.VGTRBtyhnhy.btRNBHTY.btrYNBHTYhjn" />
        <activity
            android:name="com.hythluynlhkjbkflvf.rpogportbpgoglkbm.fnrjfnrjnflkr.fvnklfvlmrtklbvtr.kfrlvmgtlkrmgbltrg.VrvtfrkvnbkrtgbtyghnBYTHbvnftkrjbg"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/NythnmbylkthbnhYnyhun.gTRHytfewrgt">
        </activity>
    </application>
</manifest>